$("#item-form-errors").html("");
<%= if @errors != nil do %>
    <%= for error <- @errors do %>
        <% {attr, {title, _}} = error %>
        $("#item-form-errors").append("<%= attr %>: <%= title %>");
    <% end %>
<% end %>
