<%= form_for @changeset, @path, [data: [remote: true]], fn f -> %>
    <div class='row-inputs'>
        <%= text_input f, :title %>
        <%= color_input f, :color, style: 'width: 40px;' %>
    </div>
<% end %>
